<link href='https://cdn.jsdelivr.net/npm/fullcalendar@3.10.2/dist/fullcalendar.min.css' rel='stylesheet' />
<link rel="stylesheet" href="/css/calendar.css">
<script src='https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js'></script>
<script src='https://cdn.jsdelivr.net/npm/moment@2.29.1/moment.min.js'></script>
<script src='https://cdn.jsdelivr.net/npm/fullcalendar@3.10.2/dist/fullcalendar.min.js'></script>
<script src="/js/calendar.js"></script>
<body>
    <div id="calendar">
    </div>
    <a href="/users/update-calendar" >Update Calendar</a>
</body>