<form action="/users/reset-password" method="post">
    <input type="password" name="password" placeholder="Enter your new Password" required>
    <input type="hidden" name="userId" value="<%=user_id%>">
    <button type="submit">Update password</button>
</form>